@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.upload-section, .status-section, .progress-section {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.download-section, .results-section, .reset-section {
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: center;
}

.upload-section {
    padding: 40px;
    width: 40%;
    flex-direction: column;
    border: 1px solid #2196F3;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #afd6f7;
}

.progress-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.download-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
}


#jobDescription {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

.file-input {
    padding: 8px;
    font-size: 13px;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 5px;
}

.btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 8px;
    background-color: #4CAF50;
    color: white;
}

.upload-btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #2196F3;
    color: white;
}

.download-btn {
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 15%;
}

.results-btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #ADD8E6;
    color: white;
    width: 15%;
}


.reset-btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #9e9e9e;
    color: white;
    width: 15%;
}

.btn:hover {
    opacity: 0.8;
}

.status-message {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.progress-bar-container {
    width: 50%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 30px;
    margin: 10px 10px 0 10px;
    
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 30px;
}

.download-section {
    text-align: center;
}

.reset-section {
    text-align: center;
}

#pending-icon {
    color: #FFA500;
    font-size: 40px;
}

#completed-icon {
    color: #4CAF50;
    font-size: 40px;
}

#downloadBtn {
    font-size: 20px;
}
#startOverBtn {
    font-size: 15px;
}
#ResultsBtn {
    font-size: 15px;
}

@media (max-width: 600px) {
    .upload-container {
        width: 90%;
    }

    .progress-bar-container {
        width: 100%;
    }

    .btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}
